<ul>
<% @movies.each do |movie| %>
  <br>

    <li>Title <%= movie.name %></li>
    <li>Rating <%= movie.rating %></li>
    <li>Total Gross <%= movie.total_gross %></li>
    <li>Created At <%= movie.created_at %></li>
    <li>Updated At <%= movie.updated_at %></li>
    
  <%end%>
  <br/>
</ul>
<br/>
